@import "tailwindcss";
@config "../tailwind.config.ts";

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInFromRight {
  animation: slideInFromRight 0.3s ease-out;
}

